.center {
  text-align: center;
  font-family: Consolas, calibri Light, Arial;
  margin-right: 30%;
  margin-left: 30%;
}

h1 {
  color: #17a2b8
}

.description, .description>p:hover {
  background-color:white !important;
  padding: 0 !important;
  color:black !important;
}

.listitem {
  margin: 5px;
  padding: 2px;
}

.listitem:hover {
  color: #17a2b8;
  background-color:lightgray;
  border-radius: 5px;
  padding: 3px;
}

.error, .error>p:hover {
  background-color:red;
  border-radius: 5px;
  padding: 10px;
  color: white !important;
}

button {
  border: 0;
  border-radius: 5px;
  padding: 10px;
}

button:hover {
  background-color: #95c9db;
}